
body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(132, 169, 239);
  
}
  
  h1 {
    text-align: center;
  }
  
  .posts {
    margin-top: 20px;
  }
  
  .post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
 a{
  text-align: center;
  font-size: medium; 

  color: white;
  }
  h3{
    text-align: center;
  }
